@model U7L2.Models.ProductsList

@{
    ViewData["Title"] = "Product List";
}

<h1>Product List</h1>

@{
<table class="table-bordered text-center">
    <thead>
        <tr class="text-info" style="background-color:black">
            <td>PRODUCT ID</td>
            <td>PRODUCT NAME</td>
        </tr>
    </thead>
    <tbody>
    @foreach (var product in @Model.ProductList)
    {
        if (product.ID % 2 != 0)
        {
            <tr style="background-color:lightgray">
                <td>@product.ID</td>
                <td><a href="Products/GetDetails?ID=@product.ID">@product.Name.ToUpper()</a></td>
            </tr>
        }
        else
        {
            <tr>
                <td>@product.ID</td>
                <td><a href="Products/GetDetails?ID=@product.ID">@product.Name.ToUpper()</a></td>
            </tr>        
        }
    }
    </tbody>
</table>
}